<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
<script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    function loadComments() {
        if (document.getElementById('walineComments')) {
            init({
                el: '#walineComments',
                serverURL: "https://comments.huangdiv.com",
                dark: 'html[data-theme="dark"]'
            });
        }
    }
    window.loadComments = loadComments;
</script>